body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #101010;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #000000;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.navbar {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-block: 35px;
  margin-bottom: 40px;
}
.navbar__title {
  padding-inline: 15px;
  text-align: center;
  font-size: 1.5rem;
}
.navbar__subtitle {
  text-align: center;
  color: #353535;
  font-size: 1.125rem;
}
.navbar__bouton {
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  border-style: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  color: #f6f6f6;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.navbar__bouton:hover {
  opacity: 0.88;
  box-shadow: 0 4px 10px 0 #000026;
}

.fonctionnement {
  gap: 16px;
  padding-top: 40px;
  margin-bottom: 50px;
  padding: 0 20px;
}
.fonctionnement__title {
  font-size: 1.5rem;
  padding-top: 20px;
  margin-left: 30px;
}
.fonctionnement__lists {
  margin-top: 35px;
}
.fonctionnement__bouton {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 20px;
  height: 72px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-style: none;
  position: relative;
}
.fonctionnement__bouton i {
  margin-left: 20px;
  color: #7E7E7E;
}
.fonctionnement__bouton span {
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 6px;
  width: 24px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: -14px;
  padding-bottom: 22px;
  text-align: center;
  padding-right: 7px;
  padding-top: 4px;
}

@media screen and (min-width: 768px) {
  .fonctionnement__bouton {
    width: 25%;
  }
  .fonctionnement__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .fonctionnement {
    margin-right: 129px;
    margin-left: 129px;
  }
}
.restaurant {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 15px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  margin-bottom: 15px;
}
.restaurant__image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 251px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__title {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
}
.restaurant__subtitle {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 15px;
  position: relative;
}
.restaurant .nouveau {
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: 500;
  border-radius: 2px;
  padding: 7px;
  color: #008766;
  background-color: #99E2D0;
}
.restaurant__like-btn {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 30px;
}
.restaurant__like-btn i {
  position: absolute;
  width: 30px;
  height: 30px;
}
.restaurant .my-heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
}
.restaurant .my-heart-full:hover {
  opacity: 1;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 97%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header__img-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-color: #F6F6F6;
  padding: 10px 0;
}
.header__img-container__image {
  height: 30px;
}

.recherche {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 10px 0;
}
.recherche__ville {
  border: none;
  background-color: #EAEAEA;
  color: #353535;
  font-weight: bold;
  margin-left: 10px;
}
.recherche .fa-solid {
  margin-left: 60px;
}

.loader {
  border: 16px solid #F3F3F3;
  border-top: 16px solid #FF79DA;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 7s linear;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  top: 50%;
  left: 46%;
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
.loader-container {
  background-color: #F3F3F3;
  animation: fond 3s;
}

@keyframes fond {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.footer {
  background-color: #353535;
  color: #FFFFFF;
  font-size: 1.125rem;
  padding-left: 25px;
  padding-top: 20px;
}
.footer__lists {
  display: flex;
  flex-direction: column;
}
.footer__title {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 1rem;
  color: #FFFFFF;
  padding-bottom: 15px;
  margin: 0;
}
.footer__link {
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding-right: 50px;
    padding-top: 20px;
  }
  .footer__lists {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding-left: 20px;
  gap: 18px;
  padding-bottom: 60px;
  padding-right: 20px;
}
.restaurants__title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .restaurants__lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .restaurants__lists {
    margin-right: 152px;
    margin-left: 122px;
  }
  .restaurants__title {
    margin-left: 125px;
  }
}/*# sourceMappingURL=main.css.map */