body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #101010;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #000000;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.navbar {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-block: 35px;
}
.navbar__title {
  padding-inline: 15px;
  text-align: center;
  font-size: 1.5rem;
}
.navbar__subtitle {
  text-align: center;
  color: #353535;
  font-size: 1.125rem;
}
.navbar__bouton {
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  border-style: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  color: #f6f6f6;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
  padding-top: 40px;
  margin-bottom: 50px;
}
.fonctionnement__title {
  font-size: 1.5rem;
  padding-top: 20px;
}
.fonctionnement__bouton {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #F6F6F6;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-style: none;
  border-color: var(#F6F6F6);
  position: relative;
}
.fonctionnement__bouton i {
  margin-right: 50px;
  color: #7E7E7E;
}
.fonctionnement__bouton span {
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 6px;
  width: 24px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: -14px;
  padding-bottom: 22px;
  text-align: center;
  padding-right: 7px;
  padding-top: 4px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 15px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
.restaurant__image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 251px;
}
.restaurant__title {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
}
.restaurant__subtitle {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 5px;
}
.restaurant__like-btn {
  position: absolute;
  right: 15px;
  bottom: 25px;
}

.header__img-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-color: #F6F6F6;
  padding: 10px 0;
}
.header__img-container__image {
  height: 30px;
}
.header .recherche {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 10px 0;
}
.header .recherche__ville {
  border: none;
  background-color: #EAEAEA;
  color: #353535;
  font-weight: bold;
  margin-left: 10px;
}
.header .recherche .fa-solid {
  margin-left: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #FFFFFF;
  font-size: 1.125rem;
  padding-left: 25px;
  padding-top: 20px;
}
.footer__title {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 1rem;
  color: #FFFFFF;
  padding-bottom: 15px;
}
.footer__link {
  margin-bottom: 8px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding-right: 20px;
  padding-left: 20px;
  gap: 18px;
  padding-bottom: 60px;
}
.restaurants__title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */