@import './../sass/layout/footer';
@import './../sass/layout/header';

.header{
    position: relative;
    span{
    position: absolute;
    left: 15px; 
    bottom: 15px;   
    }
}
.go{
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
}
main{
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: normal;
}

.listes{
    list-style: none;
    border-radius: 15px;
    background-color: #FFFFFF;
    font-size: 18px;
    height: 69px;
    padding-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(-30px);
    animation: defiler 3s ease-out forwards;
    &__accompagnements{
        margin-top:-15px;
        margin-left: 6px;
        font-size: 15px;
    } 
    
}
@keyframes defiler {
    0% {
        opacity: 0;
        transform: translateY(-30px);
}
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.price{
    padding-right: 5px;
}
.element-hide{
    background: #99E2D0;
    width: 50px;
    margin: -10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 1;
    
}

.blocks{
    padding: 0;
    margin: 0;
    
}
.picture-jay{
    width: 100%;
    height: 275px;
        &__img{
        width: 100%;
        height: 275px;
        object-fit: cover;
        object-position: center;

    }
   
}
.picture-stil{
    width: 100%;
    height: 275px;
        &__img{
            width: 100%;
            height: 275px;
            object-fit: cover;
            object-position: center;    
        }
}
.picture-louis{
    width: 100%;
    height: 275px;
        &__img{
            width: 100%;
            height: 275px;
            object-fit: cover;
            object-position: center;    
        }
}
.picture-toa{
    width: 100%;
    height: 275px;
        &__img{
            width: 100%;
            height: 275px;
            object-fit: cover;
            object-position: center;    
        }
}
.fond-carte{
    background-color: #F6F6F6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    bottom: 27px;
     
   }

.palettedugout-title{
    margin: 0;
    font-family: shrikhand, serif; 
    padding-top: 20px;
    border-radius: 15px;
    font-size: 28px;
    position: relative;
    span{
        position: absolute;
        right: 15px;
    }

    
  
}
.entrees__title{
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    padding-top: 20px;
    width: 40px;
    border-bottom: 3px solid #99E2D0;

}
.plats__title{
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    padding-top: 20px;
    width: 40px;
    border-bottom: 3px solid #99E2D0;
}
.desserts__title{
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    padding-top: 20px;
    width: 40px;
    border-bottom: 3px solid #99E2D0;
}

.bouton-commander{
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    padding-top: 35px;
}
.btn_commander{
    border-radius: 25px;
    border-style: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #f6f6f6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    font-family: "Roboto", sans-serif;
    padding-right: 50px;
    padding-left: 50px;
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 97%);
    &:hover{
        opacity: 0.88;
        box-shadow: 0 4px 10px 0 #000026;
    }

}

@media screen and ( min-width: 768px ) 
{
.fond-carte{
    margin-right: 200px;
    margin-left: 200px;
    padding-right: 100px;
    padding-left: 100px;
}

}