@use "../utils" as *;

.footer{
    background-color: $color-canvas-dark;
    color: $color-pure;
    font-size: $font-size-m;
    padding-left: 25px;
    padding-top: 20px;
    &__lists{
        display: flex;
        flex-direction: column;
    }
    &__title{
            font-family: $font-primary;
            font-style: italic;
            font-size: $font-size-s;
            color:$color-pure;
            padding-bottom: 15px;
        }
    &__link{
            margin-bottom: 8px;
            cursor: pointer;
           
            
    }    
        
}
@media screen and ( min-width: 768px ) 


{

.footer__lists{
    display: flex;
    flex-direction: row;
}

}