@use "../utils" as *;

.footer{
    display: flex;
    flex-direction: column;
    background-color: $color-canvas-dark;
    color: $color-pure;
    font-size: $font-size-m;
    padding-left: 25px;
    padding-top: 20px;
    &__title{
            font-family: $font-primary;
            font-style: italic;
            font-size: $font-size-s;
            color:$color-pure;
            padding-bottom: 15px;
        }
    &__link{
            margin-bottom: 8px;
           
            
    }    
        
}