@use "../utils" as *;




.header {
    &__img-container{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
        border-color: $color-gris-clair;
        padding: 10px 0;
        &__image {
           height: 30px;
       }
    }
}    
    .recherche {
        display: flex;
        justify-content: center;
        background-color: $color-gris;
        padding: 10px 0;
        &__ville {
            border: none;
            background-color: $color-gris;
            color:$color-canvas-dark;
            font-weight: bold;
            margin-left: 10px;
        }
        .fa-solid{
        margin-left: 60px;
        }
    }
    
    .loader-container{
      background-color: #F3F3F3;
      animation:fond 3s ease;
      opacity:1;
    }
    @keyframes fond {
      0% {opacity:1; }
      100%{ opacity:0;}
    }
    
    .loader{
      border: 16px solid #F3F3F3;
      border-top: 16px solid $color-secondaire;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 4s linear;
      position: fixed;
      z-index: 1;
      opacity: 0;
      top: 50%;
      left:46%
    }
    @keyframes spin {
      0% {
        opacity: 1;
        transform: rotate(0deg);
      }
      100% {opacity: 0;
        transform: rotate(360deg);
      }
    }
     
    
       
        
        
   
    
      
 
        
    


