@use "../utils/" as *;

.fonctionnement{
  gap:16px;
  padding-top: 40px;
  margin-bottom: 50px;
  padding: 0 20px;
  
    &__title{
        font-size: $font-size-l;
        padding-top: 20px;
        margin-left: 30px;
        
    }
    &__lists{
        margin-top: 35px;
    }
    &__bouton{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 20px;
        height: 72px;
        color: $color-pure-inverted;
        font-family: $font-secondary;
        font-size: $font-size-s;
        background-color: $color-gris-clair;
        border-radius: 20px;
        font-weight: 500;
        box-shadow: 0px 3px 15px 0px #0000001A;
        border-style: none;
        position: relative;
        i{
        margin-left: 20px;
        color: #7E7E7E;
        }
        span{
            background-color: $color-primaire;
            color: $color-pure;
            border-radius: 50%;
            padding: 6px;
            width: 24px;
            height: 24px;
            font-family:$font-secondary ;
            position: absolute; 
            left: -14px;
            padding-bottom: 22px;
            text-align: center;
            padding-right: 7px;
            padding-top: 4px;

        }
    }
   
}
@media screen and  ( min-width: 768px ) 

{

.fonctionnement{
            &__bouton{
                width: 25%  
            }
            &__lists{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;
            }       
        }



}
@media (min-width: 769px) and (max-width: 1440px)

{
.fonctionnement{
    margin-right: 129px;
    margin-left: 129px;
}
}
