@use "../utils/" as *;

body {
  font-family: $font-secondary;
}

h1 {
  font-family: $font-secondary;
  font-size: $font-size-xxxl;
  font-weight: $font-weight-bold;
  color: $color-canvas-inverted;
}

h2 {
  font-family: $font-secondary;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  color: #000000;

}

h3 {
  font-family: $font-secondary;
  font-size: $font-size-m;
  font-weight: $font-weight-light;
  color: #353535;
}

h4 {
  font-family: $font-secondary;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  color: #000000;
}
