$color-primaire:#9356DC; // primary
$color-secondaire:#FF79DA; // secondary
$color-tertiaire:#99E2D0; // tertiary
$color-gris: #EAEAEA; // grey
$color-gris-clair:#F6F6F6; // light-grey

$color-canvas: #f6f6f6;
$color-canvas-light: #eaeaea;
$color-canvas-dark: #353535;
$color-canvas-inverted: #101010;
$color-pure-inverted: #000000;
$color-pure: #FFFFFF;

$font-primary: "Shrikhand", serif;
$font-secondary: "Roboto", sans-serif;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100; 

$font-size-xxxl: 2.5rem; // 40px
$font-size-xxl: 1.875rem; // 30px
$font-size-xl: 1.75rem; // 28px
$font-size-l: 1.5rem; // 24px 
$font-size-m: 1.125rem; // 18px
$font-size-s: 1rem; // 16px
$font-size-xs: 0.938rem; // 15px 
